<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="touch_ros2_control" params="name use_mock_hardware device_name">
    <ros2_control name="${name}" type="system">
      <hardware>
        <xacro:if value="${use_mock_hardware}">
          <plugin>mock_components/GenericSystem</plugin>
          <param name="mock_sensor_commands">false</param>
        </xacro:if>
        <xacro:unless value="${use_mock_hardware}">
          <plugin>touch_hardware/TouchSystemHardware</plugin>
          <param name="device_name">${device_name}</param>
        </xacro:unless>
      </hardware>

      <joint name="waist">
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>

      <joint name="shoulder">
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>

      <joint name="elbow">
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>

      <joint name="yaw">
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>

      <joint name="pitch">
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>

      <joint name="roll">
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>

      <gpio name="force">
        <command_interface name="force.x"/>
        <command_interface name="force.y"/>
        <command_interface name="force.z"/>
        <state_interface name="force.x">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="force.y">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="force.z">
          <param name="initial_value">0.0</param>
        </state_interface>
      </gpio>

      <sensor name="tcp_pose">
        <state_interface name="position.x">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="position.y">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="position.z">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="orientation.x">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="orientation.y">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="orientation.z">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="orientation.w">
          <param name="initial_value">1.0</param>
        </state_interface>
        <param name="frame_id">touch_tcp</param>
      </sensor>
    </ros2_control>
  </xacro:macro>
</robot>
